h1,
h2,
h3 {
  text-align: center;
}

header {
  width: 100%;
  border: 10px solid darkblue;
  background-color: lightblue;
}

section {
  height: 400px;
  width: 80%;
  margin: 30px auto;
  border: 10px solid black;
}

/* Relative positioning: 
in this case, it always maintains the 200px padding 
on the left when page shrinks/expands. */
#relative-box {
  position: relative;
  left: 200px;
}

/* Absolute positioning: Element is removed from normal flow.
always maintains the given positioning within the 
#absolute-section parent tag. Overlaps the tags when minimized.*/
#absolute-section {
  position: relative;
}
#absolute-box {
  position: absolute;
  top: 50px;
  right: 100px;
}

/* Fixed positioning: Element is removed from normal flow, 
and stayes in one spot in the viewport. acts like 'sticky'
Overlaps the tags when minimized.
*/
#fixed-box {
  position: fixed;
  bottom: 200px;
  /* right: 0; */
  left:200px;
}
