{{!-- this file is part of the View of the MVC framework It handles UI/UX concerns(layout and displaly) --}}
<head>
  <meta charset="UTF-8">
  <title>Potluck Party</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        &#127881 Potluck Party! &#127881
      </h1>
    </header>
      <main class="container container-fluid mt-5">
       {{{ body }}}   {{!-- SEE NOTES ON THIS--}}
      </main>
  </div>
  </body>

</html>

{{!-- NOTES: 

- The {{{ body }}}, placeholder is a convention used by templating engines 
  to indicate where the dynamic content should be injected.
  + the 'body' is just the name passed in from the options object in the render() fx.
    


 --}}