/* Variables */
:root {
      --navColor: aqua;
      --backgroundColor: rgb(96, 96, 96);
      --white: #fff;
      --borderRadius: 50px;
    }
    
/* Navbar */
nav {
      background-color: var(--backgroundColor);
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 3px solid red;
}
nav h1 {
      background-color: var(--navColor);
      padding: 10px 20px 15px 10px;
      margin-bottom: 10px;
}
nav ul {
      display: flex;
      padding-right: 20px;
}
nav ul li {
      padding-right: 20px;
      color: var(--navColor);
      font-weight: bold;
     text-decoration: underline;
     text-decoration-thickness: 3px;
}

/* Header */
header {
      border: 3px solid green;
}
header img {
      background-size: cover;
}
.image-container {
      position: relative;
}
.image-container figcaption {
      position: absolute;
      background-color: var(--navColor);
      padding: 10px;
      color: var(--backgroundColor);
      bottom: 25px;
      right: 365px;
}

/* Main */
main {
      border: 3px solid yellow;
}
aside {
      border: 3px solid blue;
      padding: 20px;
      float: left;
      width: 25%;
}
section {
      border: 3px solid orange;
      padding: 20px;
      float: right; width: 75%;
}
/* Footer */
footer {
      border: 3px solid red;
      color: var(--navColor);
      font-weight: bold;
     text-decoration: underline;
     text-decoration-thickness: 3px;
}