<div class="dish-card">
  <div class="dish-card-header">
    {{dish_name}}
  </div>
  <div class="card-body">
    <p>
      Description:
      {{description}}
    </p>
    <!-- TODO: Use #if to show if dish "Contains Nuts" -->
    {{#if has_nuts}}
      <p><b>☠️ Contains Nuts! Beware ☠️</b></p>
    {{/if}}
  </div>
</div>